@if (entity) {
<div class="bg-background flex gap-8 items-center h-full">
  @if(icon) {
  <button
    [class.active]="active"
    [class]="active ? 'bg-light' : 'bg-dark'"
    class="btn bg-dark w-18 h-18 rounded-2xl border-2 border-light"
    (click)="toggleState()"
  >
    <div
      [class]="active ? 'text-dark' : 'text-light'"
      class="flex justify-center items-center text-4xl w-full h-full"
    >
      <ng-icon [name]="icon"></ng-icon>
    </div>
  </button>
  }

  <div class="flex w-full flex-col items-start gap-1 my-2">
    <div
      class="info text-lg font-bold w-full flex justify-between items-center px-2"
    >
      <div class="name">
        {{ name || entity.attributes['friendly_name'] || '' }}
      </div>
      <div class="flex align-items-center gap-4">
        <div class="brightness m-auto">
          {{
            brightness && brightness > 0
              ? valueAsPercentage(brightness) + '%'
              : 'Off'
          }}
        </div>

        <div class="detail-btn">
          <button
            class="btn btn-circle btn-ghost text-3xl hover:btn-primary"
            (click)="openDetail()"
          >
            <ng-icon name="sliders"></ng-icon>
          </button>
        </div>
      </div>
    </div>
    <app-progress-bar
      [value]="brightnessProgress"
      [total]="numDots"
      [interactive]="true"
      activeColor="bg-primary"
      inactiveColor="bg-neutral"
      dotSize="w-3 h-3 sm:w-4 sm:h-4"
      gapSize="gap-2"
      (valueChange)="onBrightnessChange($event)"
    ></app-progress-bar>
  </div>
</div>

<app-light-detail
  [openModalSubject$]="openDetailSubject$"
  [entity]="entity"
></app-light-detail>
}
