@if (entity) {
<div class="bg-background flex gap-8 items-center h-full justify-between">
  @if(icon) {
  <div class="bg-dark aspect-square h-full rounded-2xl bg-dark cursor-default">
    <div
      class="flex justify-center items-center text-4xl w-full h-full text-light"
    >
      <ng-icon [name]="icon"></ng-icon>
    </div>
  </div>
  }

  <div class="flex w-full items-center gap-1 my-2 pr-2">
    <div
      class="info text-lg font-bold w-full flex justify-between items-start px-2 flex-col"
    >
      <div class="name">
        {{ name || entity.attributes['friendly_name'] || '' }}
      </div>
      <div class="state">{{ mode | titlecase }} - {{ temp }}°</div>
    </div>
    <div class="flex items-center gap-4">
      <div class="controls flex gap-4">
        <button
          class="btn btn-circle btn-ghost text-2xl hover:btn-primary"
          aria-label="Decrease"
          (click)="decrement()"
        >
          <ng-icon name="minus"></ng-icon>
        </button>
        <input
          type="text"
          class="w-16 text-center bg-zinc-800 text-white rounded px-2 py-1 focus:outline-none focus:ring-2 focus:ring-teal-400"
          aria-label="Target temperature"
          [value]="targetTemp"
          (input)="onTemperatureChange($event)"
          (keydown)="onKeyDown($event)"
        />
        <button
          class="btn btn-circle btn-ghost text-2xl hover:btn-primary"
          aria-label="Increase"
          (click)="increment()"
        >
          <ng-icon name="plus"></ng-icon>
        </button>

        <button
          class="btn btn-circle btn-ghost text-3xl hover:btn-primary"
          (click)="openDetail()"
        >
          <ng-icon name="sliders"></ng-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<app-thermostat-detail
  [openModalSubject$]="openDetailSubject$"
  [entity]="entity"
></app-thermostat-detail>
}
