<div class="flex flex-col min-h-screen">
  <!-- Scrollable content area -->
  <div
    class="pointer-events-none fixed bottom-16 left-0 w-full h-16 bg-gradient-to-b from-transparent to-background z-5"
  ></div>
  <main class="flex-1 overflow-y-auto px-8 pt-4 pb-24">
    <router-outlet></router-outlet>
  </main>

  <!-- Fixed Navbar -->
  <div
    class="pointer-events-none fixed bottom-16 left-0 w-full h-16 z-10 bg-gradient-to-b from-transparent to-background"
  ></div>
  @if (loggedIn$ | async) {

  <div class="fixed bottom-0 px-4 pb-4 z-10 bg-background w-full">
    <app-navbar
      class="w-full h-16 rounded-2xl bg-neutral shadow-md"
    ></app-navbar>
  </div>
  }
</div>
