:host {
  display: block;
}

.fill-basic {
  &.icon ng-icon svg path:first-child {
    fill: var(--color-light) !important;
    opacity: 1 !important;
  }
}

.fill-primary {
  &.icon ng-icon svg path:first-child {
    fill: var(--color-primary) !important;
    opacity: 1 !important;
  }
}

.fill-secondary {
  &.icon ng-icon svg path:first-child {
    fill: var(--color-secondary) !important;
    opacity: 1 !important;
  }
}

.fill-error {
  &.icon ng-icon svg path:first-child {
    fill: var(--color-error) !important;
    opacity: 1 !important;
  }
}

.fill-accent {
  &.icon ng-icon svg path:first-child {
    fill: var(--color-accent) !important;
    opacity: 1 !important;
  }
}

.fill-neutral {
  &.icon ng-icon svg path:first-child {
    fill: var(--color-neutral) !important;
    opacity: 1 !important;
  }
}

.fill-warning {
  &.icon ng-icon svg path:first-child {
    fill: var(--color-warning) !important;
    opacity: 1 !important;
  }
}

.fill-success {
  &.icon ng-icon svg path:first-child {
    fill: var(--color-success) !important;
    opacity: 1 !important;
  }
}

.fill-info {
  &.icon ng-icon svg path:first-child {
    fill: var(--color-info) !important;
    opacity: 1 !important;
  }
}

.fill-transparent {
  &.icon ng-icon svg path:first-child {
    fill: transparent !important;
  }
}
