<div class="w-full flex flex-col gap-8 pb-8">
  <!-- <app-thermostat-card class="w-full h-18" entityId="climate.thermostat"></app-thermostat-card> -->

  <!-- <app-light-card
      class="w-full h-24"
      entityId="light.office"
      icon="lightbulb"
    ></app-light-card>

    <app-speaker-card
      class="w-full h-24"
      entityId="media_player.office_speaker"
      icon="speaker"
    ></app-speaker-card> -->

  <div class="overview w-full"></div>

  <div class="rooms flex flex-wrap gap-8">
    @for (room of roomConfigs; track room.title) {
    <app-room-card
      class="w-80 h-64"
      [title]="room.title"
      [roomName]="room.roomName"
      [color]="room.color"
      [icon]="room.icon"
      [temperatureEntityId]="room.temperatureEntityId"
      [humidityEntityId]="room.humidityEntityId"
      [occupiedEntityId]="room.occupiedEntityId"
      [actions]="room.actions"
    ></app-room-card>
    }
  </div>
</div>
