@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@plugin "daisyui";

/* You can add global styles to this file, and also import other style files */
html,
body,
app-root {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

:root {
  --font-sans: 'montserrat';

  --dark: #1b1e25;
  --light: #ebddbc;
  --background: var(--dark);
  --foreground: var(--light);
  --text: var(--light);
  --primary: #8193b2;
  --secondary: #b48eae;
  --accent: #609d9f;
  --neutral: #3d4451;
  --info: #63b3ed;
  --success: #8fbc8f;
  --warning: #ecc94b;
  --error: #e75f50;
  // --radius: 16px;
}
