<div class="group/progress mx-auto">
    <div class="btn btn-accent"></div>
  <div class="relative mx-2 my-4">
    <div [style.gap]="dotGap" class="flex text-zinc-600">
      @for (dot of dots; track dot) {
      <div class="tooltip" [attr.data-tip]="dot">
        <div
          tabindex="{0}"
          [style.width]="dotPixels + 'px'"
          [style.height]="dotPixels + 'px'"
          class="rounded-full bg-current cursor-pointer bg-base-300"
          (click)="onDotClick(dot)"
          (keyup)="onDotClick(dot)"
        ></div>
      </div>
      }
    </div>
    <div
      [style.gap]="dotGap"
      [style.width]="nextVal + '%'"
      class="absolute inset-0 flex overflow-hidden text-accent transition-[width] duration-500 ease-in-out"
    >
      @for (dot of dots; track dot) {
      <div class="tooltip" [attr.data-tip]="dot">
        <div
          tabindex="{0}"
          [style.width]="dotPixels + 'px'"
          [style.height]="dotPixels + 'px'"
          class="shrink-0 rounded-full bg-current cursor-pointer bg-secondary"
          (click)="onDotClick(dot)"
          (keyup)="onDotClick(dot)"
        ></div>
      </div>
      }
    </div>
  </div>
</div>