@if (entity()) {
<div class="bg-background flex gap-8 items-center h-full">
  @if(icon) {
  <button
    [class.active]="active()"
    [class]="active() ? 'bg-light' : 'bg-dark'"
    class="btn bg-dark w-18 h-18 rounded-2xl border-2 border-light"
    (click)="togglePlayback()"
  >
    <div
      class="flex justify-center items-center text-4xl w-full h-full"
      [class]="active() ? 'text-dark' : 'text-light'"
    >
      <ng-icon [name]="icon"></ng-icon>
    </div>
  </button>
  }

  <div class="flex w-full flex-col items-center gap-1 my-2">
    <div
      class="info text-lg font-bold w-full flex justify-between items-center px-2"
    >
      <div class="name">
        {{ name || entity()!.attributes['friendly_name'] || '' }}
      </div>
      <div class="flex align-items-center gap-4">
        <div class="volume m-auto">
          {{
            volume() && volume() > 0 ? valueAsPercentage(volume()) + '%' : 'Off'
          }}
        </div>

        <div class="detail-btn">
          <button
            class="btn btn-circle btn-ghost text-3xl hover:btn-primary"
            (click)="openDetail()"
          >
            <ng-icon name="sliders"></ng-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="flex w-full justify-between items-center pr-2">
      <app-progress-bar
        [value]="volumeProgress()"
        [total]="numDots"
        [interactive]="true"
        activeColor="bg-primary"
        inactiveColor="bg-neutral"
        dotSize="w-2 h-2 sm:w-3 sm:h-3"
        gapSize="gap-1"
        (valueChange)="onVolumeChange($event)"
      ></app-progress-bar>

      <div class="controls flex justify-between items-center gap-4">
        <button
          class="btn btn-circle btn-ghost text-2xl hover:btn-primary"
          (click)="prevTrack()"
        >
          <ng-icon name="skipBack"></ng-icon>
        </button>

        <button
          class="btn btn-circle btn-ghost text-2xl hover:btn-primary"
          (click)="togglePlayback()"
        >
          <ng-icon [name]="playing() ? 'pause' : 'play'"></ng-icon>
        </button>

        <button
          class="btn btn-circle btn-ghost text-2xl hover:btn-primary"
          (click)="nextTrack()"
        >
          <ng-icon name="skipForward"></ng-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<app-speaker-detail
  [openModalSubject$]="openDetailSubject$"
  [entity]="entity()!"
></app-speaker-detail>
}
